{{#if isCompany}}
<h2 id="description">Description</h2>
<p>{{rawText presskit.description}}</p>
<h2 id="history">History and Information</h2>
    {{#if presskit.history}}
    <p>{{rawText presskit.history}}</p>
    {{/if}}
    {{#each presskit.histories}}
        <h3>{{header}}</h3>
        <p>{{rawText text}}</p>
    {{/each}}
{{/if}}



{{#if isProduct}}
<h2 id="description">{{rawText presskit.title}} - {{#each presskit.releaseDates}}{{.}}{{/each}}</h2>
<p>{{rawText presskit.description}}</p>
{{/if}}



