<aside class="factsheet grid__item">
  <h2 id="factsheet" class="factsheet__title">Factsheet</h2>

{{#if isCompany}}
  <dl class="factsheet__list">
    <dt>Project Name:</dt>
    <dd>
      <a href=".">{{presskit.title}}</a>
    </dd>

    <dt>Founding date:</dt>
    <dd>{{presskit.foundingDate}}</dd>

    <dt>Website:</dt>
    <dd>
      <a href="{{presskit.website}}">{{prettyURL presskit.website}}</a>
    </dd>

    <dt>Press contact:</dt>
    {{#each presskit.socials}}
    <dd>
      <a href="{{link}}">{{name}}</a>
    </dd>
    {{/each}}

    <dt>E-mail:</dt>
    <dd>
      <a href="mailto:{{presskit.pressContact}}">{{presskit.pressContact}}</a>
    </dd>
    

    <!-- <dt>Press Releases:</dt>
    {{#if products}}
      {{#each products}}
      <dd>
        <a href="{{permalink path}}">{{title}}</a> - {{#each presskit.releaseDates}}{{.}}{{/each}}
      </dd>
      {{/each}}
    {{else}}
    <dd>None yet</dd>
    {{/if}} -->
  </dl>
  <h2 id="pressreleases" class="factsheet__title">Press Releases</h2>
  {{#if products}}
  <dl class="factsheet__list"></dl>
      {{#each products}}
      <dd>
        <a href="{{permalink path}}">{{title}}{{history}}</a> - {{#each releaseDates}}{{.}}{{/each}}
      </dd>
      {{/each}}
    {{else}}
    <dd>None yet</dd>
    {{/if}}
  </dl>
  {{/if}}

  <!-- {{#if isProduct}}
  <dl class="factsheet__list">
    <dt>Developer:</dt>
    <dd>
      <a href="..">{{company.title}}</a>
    </dd>
    <dd>Based in {{company.basedIn}}</dd>

    <dt>Release date:</dt>
    {{#each presskit.releaseDates}}
    <dd>{{.}}</dd>
    {{/each}}

    <dt>Platforms:</dt>
    {{#each presskit.platforms}}
    <dd>
      <a href="{{link}}">{{name}}</a>
    </dd>
    {{/each}}

    <dt>Website:</dt>
    <dd>
      <a href="{{presskit.website}}">{{prettyURL presskit.website}}</a>
    </dd>

    <dt>Regular Price:</dt>
    {{#each presskit.prices}}
    <dd>{{currency}} {{value}}</dd>
    {{/each}}
  </dl>

  {{#if presskit.pressCopyRequest}}
  <p class="press">
    <a href="{{presskit.pressCopyRequest}}" class="button" tabindex="0">
      Request Press Copy
    </a>
  </p>
  {{/if}}
  {{/if}} -->
</aside>
