<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="StarCitizen Tracker offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

{{#if company.title}}
<title>{{company.title}}</title>
{{else}}
<title>{{presskit.title}}</title>
{{/if}}

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="StarCitizen Tracker">
<meta itemprop="author" content="GOONS">
<meta itemprop="datePublished" content="2017-04-17T00:51:00-05:00">
<meta itemprop="publisher" content="SOMETHINGAWFULDOTCOM">
<meta itemprop="description" content="StarCitizen Tracker offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen">
<meta itemprop="headline" content="StarCitizen Tracker - The Best Way to track the lofty expectations of Star Citizen." />
<meta itemprop="image" content="assets/social-share.png">
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@StarCitizenTracker">
<meta name="twitter:title" content="StarCitizen Tracker">
<meta name="twitter:description" content="StarCitizen Tracker offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen">
<meta name="twitter:creator" content="@StarCitizenTracker">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image" content="https://starcitizentracker.github.io/assets/social-share.png">

<!-- Open Graph data -->
<meta property="og:title" content="StarCitizen Tracker" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://starcitizentracker.github.io/" />
<meta property="og:image" content="https://starcitizentracker.github.io/assets/trump-main.jpg" />
<meta property="og:description" content="StarCitizen Tracker offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen" />
<meta property="og:site_name" content="StarCitizen Tracker" />
<meta property="article:published_time" content="2017-04-17T00:51:00-05:00" />
<meta property="article:modified_time" content="2017-04-17T00:52:47-05:00" />
<meta property="article:section" content="Gaming" />
<meta property="article:tag" content="Gaming" />
<meta name="apple-mobile-web-app-title"         content="StarCitizen Tracker">
<meta name="application-name"                   content="StarCitizen Tracker">
<meta name="theme-color"                        content="#ffffff">

<link rel="shortcut icon" href="images/favicon.ico?t={{buildTime}}">

<link rel="stylesheet" href="{{assets}}/css/normalize.css">
<link rel="stylesheet" href="{{assets}}/css/master.css">

<!-- Generated by presskit.html {{buildVersion}} (https://github.com/pixelnest/presskit.html). -->
